@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
body {
  font-family: "Roboto", sans-serif;
}

.container {
  max-width: 1750px;
  margin: 0 auto;
}

header nav {
  background: white;
  box-shadow: 0 5.33px 80px rgba(0, 0, 0, 0.1);
  padding: 20px 0;
}
header nav ul {
  gap: 40px;
}
header nav ul li {
  font-size: 1.3rem;
  color: #1c1e53;
}
header nav ul li:hover a {
  color: #5e3bee !important;
}
header nav .navBtn {
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 150%;
  color: #5e3bee;
  border: 1px solid #5e3bee;
  background: transparent;
  border-radius: 5px;
  padding: 18px 30px;
}

main #bannar {
  padding: 119px 0;
  background: #f5fcff;
}
main #bannar .bannar__area .img__area img {
  max-width: 100% !important;
}
main #bannar .bannar__area h3 {
  font-size: 1.3rem;
  font-weight: 600;
  line-height: 150%;
  color: #282938;
}
main #bannar .bannar__area h1 {
  font-size: 74px;
  font-weight: 700;
  line-height: 120%;
  color: #282938;
  max-width: 790px;
  margin-top: 20px;
}
main #bannar .bannar__area h1 span {
  color: #5e3bee;
}
main #bannar .bannar__area p {
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 150%;
  color: #1c1e53;
  max-width: 620px;
  margin-top: 20px;
  margin-bottom: 40px;
}
main #bannar .bannar__area .bannarBtn {
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 150%;
  color: white;
  border: 1px solid #5e3bee;
  background: #5e3bee;
  border-radius: 5px;
  padding: 18px 30px;
}
main #contant {
  padding: 150px 0;
  background: #ecfffd;
}
main #contant .title {
  margin-bottom: 106px;
}
main #contant .title h4 {
  font-size: 1.3rem;
  font-weight: 600;
  line-height: 150%;
  color: #282938;
  margin-bottom: 1.3rem;
}
main #contant .title h2 {
  font-size: 64px;
  font-weight: 700;
  line-height: 120%;
  color: #282938;
}
main #contant .contant__area {
  gap: 40px;
}
main #contant .contant__area .contant__item {
  padding: 32px;
}
main #contant .contant__area .contant__item:hover {
  box-shadow: 0px 10px 3px 0px rgb(94, 59, 238);
}
main #contant .contant__area .contant__item h3 {
  font-size: 2rem;
  font-weight: 700;
  line-height: 140%;
  color: #282938;
  margin-bottom: 1.3rem;
}
main #contant .contant__area .contant__item p {
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 150%;
  color: #1c1e53;
  max-width: 340px;
}
main #about {
  padding: 133px 0;
}
main #about .about__area img {
  max-width: 100%;
}
main #about .about__area .about__text__area {
  margin-bottom: 106px;
}
main #about .about__area .about__text__area h4 {
  font-size: 1.3rem;
  font-weight: 600;
  line-height: 150%;
  color: #282938;
  margin-bottom: 1.3rem;
}
main #about .about__area .about__text__area h2 {
  font-size: 64px;
  font-weight: 700;
  line-height: 120%;
  color: #282938;
}
main #about .about__area .about__text__area .first__pera {
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 150%;
  color: #1c1e53;
  max-width: 840px;
}
main #about .about__area .about__text__area .second__pera {
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 150%;
  color: #1c1e53;
  max-width: 840px;
  margin-top: 1.5rem;
}
main #portfolio {
  padding: 150px 0;
  background: #ecfffd;
}
main #portfolio .portfolio__area .portfolio__title {
  display: flex;
  justify-content: space-between;
}
main #portfolio .portfolio__area .portfolio__title .title {
  margin-bottom: 106px;
}
main #portfolio .portfolio__area .portfolio__title .title h4 {
  font-size: 1.3rem;
  font-weight: 600;
  line-height: 150%;
  color: #282938;
  margin-bottom: 1.3rem;
}
main #portfolio .portfolio__area .portfolio__title .title h2 {
  font-size: 64px;
  font-weight: 700;
  line-height: 120%;
  color: #282938;
}
main #portfolio .portfolio__area .portfolio__title .port__btn button {
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 150%;
  color: #ffffff;
  background: #e62872;
  padding: 1rem;
  border: none;
  border-radius: 10px;
}
main #portfolio .portfolio__area .portfolio__title .port__btn button .dribbbleicon {
  margin-right: 10px;
}
main #portfolio .portfolio__area .portfolio__item .portfolio__body {
  padding: 2rem;
}
main #portfolio .portfolio__area .portfolio__item .portfolio__body .portfolio__title {
  font-size: 2rem;
  font-weight: 700;
  line-height: 140%;
  color: #282938;
}
main #portfolio .portfolio__area .portfolio__item .portfolio__body .portfolio__text {
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 150%;
  color: #1c1e53;
  margin-top: 12px;
}
main #portfolio .portfolio__area .portfolio__item .portfolio__body .portfolio__item__Btn {
  margin-top: 2rem;
}
main #portfolio .portfolio__area .portfolio__item .portfolio__body .portfolio__item__Btn a {
  font-size: 19px;
  font-weight: 600;
  line-height: 150%;
  color: #282938;
  text-decoration: none;
}
main #portfolio .portfolio__area .portfolio__item .portfolio__body .portfolio__item__Btn a:hover {
  color: #5e3bee;
  box-shadow: 0px 10px 3px 0px rgb(94, 59, 238);
}
main #portfolio .portfolio__area .portfolio__item .portfolio__body .portfolio__item__Btn a .arrowicon {
  margin-left: 10px;
  font-size: 1.4rem;
}
main #testimonial {
  padding: 197px;
}
main #testimonial .testimonial___title {
  margin-bottom: 106px;
}
main #testimonial .testimonial___title h4 {
  font-size: 1.3rem;
  font-weight: 600;
  line-height: 150%;
  color: #282938;
  margin-bottom: 1.3rem;
}
main #testimonial .testimonial___title h2 {
  font-size: 64px;
  font-weight: 700;
  line-height: 120%;
  color: #282938;
}
main #testimonial .testimonial__item {
  padding: 42px;
  border: 1px solid #006b6a;
  border-radius: 0.5rem;
}
main #testimonial .testimonial__item ul li {
  font-size: 26px;
  color: #006b6a;
}
main #testimonial .testimonial__item p {
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 150%;
  color: #1c1e53;
  margin-top: 42px;
  max-width: 470px;
}
main #testimonial .testimonial__item .testimonial__avatar {
  margin-top: 42px;
}
main #testimonial .testimonial__item .testimonial__avatar .avatar__text {
  margin-left: 0.5rem;
}
main #contact {
  padding: 100px;
}
main #contact .contact___title {
  text-align: center;
  margin-bottom: 64px;
}
main #contact .contact___title h4 {
  font-size: 1.3rem;
  font-weight: 600;
  line-height: 150%;
  color: #282938;
  margin-bottom: 1.3rem;
}
main #contact .contact___title h2 {
  font-size: 64px;
  font-weight: 700;
  line-height: 120%;
  color: #282938;
}
main #contact .contact___title p {
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 150%;
  color: #1c1e53;
  margin-top: 32px;
}
main #contact .palaceholder__item form {
  text-align: center;
}
main #contact .palaceholder__item form .form-control {
  border: 1px solid black;
}
main #contact .palaceholder__item form .check__point {
  border: 1px solid;
}/*# sourceMappingURL=style.css.map */